

table, thead, th, tbody, tr, td {
    border: 1px solid green;
   border-collapse: collapse;
   width: 1500px;
}

h1 {
    font-size: 60pt;
}
.odd {
    background: #92e3b9;
}

.second {
    color: green;
}

body {
    font-family: 'Righteous', cursive;
}

table {
    border-spacing: 15px;
    border: black 1pt;
  }

  td {
    text-align: center; 
    vertical-align: middle;
  }

  img {
  border: 1px solid '#fff';
  border-radius: 4px;
  padding: 3px;
  width: 150px;
  }